*{ 
    margin: 0;
    padding: 0;
}
body{
    font-family:"poppins", sans-serif;
    /* --color1:white;
    --color2:#181818 */
   
}
.nav-bar{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color:#181818;
    padding: 12px;
    
    
}
.menu{
    display: flex;
}
.menu li{
    padding-left: 15px;
    padding-right: 15px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #181818;
    transition: 0.15s ease-in-out;
    
}
.menu li a:hover:after{
    width: 100%;
}
.open-menu , .close-menu{
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}
.close-menu{
    top: 13px;
    right: 50px;
}
#check{
    display: none;
}
@media only screen and (min-width: 220px) and (max-width: 480px) {
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -99%;
        z-index: 100;
        background-color: #181818;
        transition: 0.15s ease-in-out;
    
    }
    .menu li{
        margin-top: 30px;
        
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu , .close-menu {
        display: block;

    }
    #check:checked ~ .menu{
        right: 0;
    }
}

